{% extends "base.html" %}

{% block content %}
<h2>{{ artist.artist_name }}</h2>
<h3> Originally from {{ artist.hometown }}</h3>
<p>{{ artist.description }}</p>
<h3>Events:</h3>
{% for event in events %}
    {% for venue in venues %}
    {% if event.venue_id == venue.venue_id %}
        <ui>
            <li><b>{{ event.event_name }}</b> at the <b>{{ venue.venue_name }}</b> on <b>{{ event.event_date }}</b></li>
        </ui>
    {% endif %}

    {% endfor %}
{% endfor %}
{% if event_count == 0 %}
    <li> Sorry, this artist has no events :(</li>
{% endif %}
{% endblock %}