<!doctype html>
<html>
    <head>
        {% if title %}
            <title> {{ title }}</title>
        {% else %}
            <title>Welcome to Ithaca Music</title>
        {% endif %}
    </head>
    <body>
        <div>
            <b><a href="{{ url_for('home') }}">Ithaca Music:</a></b>
            <a href="{{ url_for('artists') }}">Artists</a>
            <a href="{{ url_for('new_artist') }}">New Artists</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
