{% extends "base.html" %}

{% block content %}
    <h2>Create New Event</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.event_name.label }}<br>
            {{ form.event_name(size=32) }}<br>
            {% for error in form.event_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.event_date.label }}<br>
            {{ form.event_date() }}<br>
        </p>
        <p>
            {{ form.event_description.label }}<br>
            {{ form.event_description(size=150)}}<br>
        </p>
        <p>
            {{ form.artists.label }}<br>
            {{ form.artists() }}<br>
        </p>
        <p>
            {{ form.venue.label }}<br>
            {{ form.venue() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
